@font-face {
  font-family: 'masthinaregular';
  src: url('masthina-webfont.woff2') format('woff2'),
    url('masthina-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.handwritten {
  font-family: 'masthinaregular';
  color: #81837f;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
